﻿<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="../" class="navbar-brand">Quickbooks Integration</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav navbar-right" ng-show="user">
                <li><a>Welcome, {{user.name}}</a></li>
                <li><a ng-click="logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</div>
<div style="height: 70px;"></div>
<h1 id="pageTitle">Welcome to Quickbooks Integration</h1>
<p>Looks like you are not connected with quickbooks yet, please use the follow link to relate your quickbooks account</p>
<ipp:connecttointuit></ipp:connecttointuit>