﻿<div class="navbar navbar-default navbar-fixed-top">
    <div class="container" >
        <div class="navbar-header">
            <a href="../" class="navbar-brand">Quickbooks Integration</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav navbar-right" ng-show="user">
                <li><a>Welcome, {{user.name}}</a></li>
                <li><a ng-click="logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</div>
<img style="margin-top:30px" src="../../assets/sos_logo.jpg" />
<div style="height: 30px;"></div>
<!--<h1 ng-hide="ableToSearch">You need to specify your current ftp directory</h1>-->
<!--<button ng-hide="ableToSearch" class="btn btn-primary" tabindex="7" data-toggle="modal" data-target="#myModal">Set Directory</button>-->
<h4>Last synced invoices</h4>

<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" id="myTabs">
        <li role="presentation" ng-class="{active: tabSelected === 1}"><a ng-click="tabSelected = 1" aria-controls="home" role="tab" data-toggle="tab">Invoices</a></li>
        <li role="presentation" ng-class="{active: tabSelected === 2}"><a ng-click="tabSelected = 2" role="tab" data-toggle="tab">Driver Setlements</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane" ng-class="{active: tabSelected === 1}" id="home">
            <div ng-hide="invoices.length < 1" style="margin-top: 30px">
                <table ng-show="invoices" class="importedData">
                    <tr>
                        <th style="text-align: center">Status</th>
                        <th>QbId</th>
                        <th>Sync Date</th>
                        <th>Broker Name</th>
                        <th>Billing Address</th>
                        <th>City</th>
                        <th>State</th>
                        <th>ZipCode</th>
                        <th>Country</th>
                        <th>SOSInvoiceNumber</th>
                        <th>LoadNumber</th>
                        <th>InvoiceDate</th>
                        <th>DueByDate</th>
                        <th>BasicFreightRate</th>
                        <th>ExtraPickUp</th>
                        <th>ExtraDelivery</th>
                        <th>WaitingTime</th>
                        <th>LumperFees</th>
                        <th>Overnight</th>
                        <th>Others</th>
                        <th>FuelSurcharge</th>
                        <th>CongestionFee</th>
                        <th>BondFee</th>
                        <th>BrokerAdvance</th>
                        <th>BrokerAdvanceFee</th>
                        <th>Discount</th>
                        <th>TotalAmount</th>
                        <th>QuickPay Fee</th>
                    </tr>
                    <tr style="border: 1px solid lightgray" ng-repeat="invoice in invoices">
                        <td style="padding: 5px" ng-hide="invoice.status"><button type="button" class="btn btn-success">Synced</button></td>
                        <td style="padding: 5px" ng-show="invoice.status == 'Exist'"><button type="button" class="btn btn-warning">Sync Ommited</button></td>
                        <td style="padding: 5px" ng-show="invoice.status == 'Error'"><button type="button" class="btn btn-danger">Sync Error</button></td>
                        <td>{{invoice.qbId}}</td>
                        <td>{{invoice.syncDate}}</td>
                        <td>
                            {{invoice.brokerName}}
                        </td>
                        <td>
                            {{invoice.billingAddress}}
                        </td>
                        <td>
                            {{invoice.city}}
                        </td>
                        <td>
                            {{invoice.state}}
                        </td>
                        <td>
                            {{invoice.zipCode}}
                        </td>
                        <td>
                            {{invoice.country}}
                        </td>
                        <td>
                            {{invoice.sosInvoiceNumber}}
                        </td>
                        <td>
                            {{invoice.loadNumber}}
                        </td>
                        <td>
                            {{invoice.invoiceDate}}
                        </td>
                        <td>
                            {{invoice.dueByDate}}
                        </td>
                        <td class="centerValue">
                            {{invoice.basicFreightRate}}
                        </td>
                        <td class="centerValue">
                            {{invoice.extraPickUp}}
                        </td>
                        <td class="centerValue">
                            {{invoice.extraDelivery}}
                        </td>
                        <td class="centerValue">
                            {{invoice.waitingTime}}
                        </td>
                        <td class="centerValue">
                            {{invoice.lumperFees}}
                        </td>
                        <td class="centerValue">
                            {{invoice.overnight}}
                        </td>
                        <td class="centerValue">
                            {{invoice.others}}
                        </td>
                        <td class="centerValue">
                            {{invoice.fuelSurcharge}}
                        </td>
                        <td class="centerValue">
                            {{invoice.congestionFee}}
                        </td>
                        <td class="centerValue">
                            {{invoice.bondFee}}
                        </td>
                        <td class="centerValue">
                            {{invoice.brokerAdvance}}
                        </td>
                        <td class="centerValue">
                            {{invoice.brokerAdvanceFee}}
                        </td>
                        <td class="centerValue">
                            {{invoice.discount}}
                        </td>
                        <td class="centerValue">
                            {{invoice.totalAmount}}
                        </td>
                        <td class="centerValue">
                            {{invoice.quickPayFee}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" ng-class="{active: tabSelected === 2}" id="profile">
            <div ng-hide="driverSettlement.length < 1" style="margin-top: 30px">
                <table ng-show="driverSettlement" class="importedData">
                    <tr>
                        <th style="text-align: center">Status</th>
                        <th>QbId</th>
                        <th>Sync Date</th>
                        <th>Truck Owner</th>
                        <th>Driver</th>
                        <th>Truck #</th>
                        <th>File #</th>
                        <th>OO Pay</th>
                        <th>Basic Driver Pay</th>
                        <th>Waiting Time</th>
                        <th>Extra PickUp</th>
                        <th>Extra Delivery</th>
                        <th>Overnight</th>
                        <th>Others</th>
                        <th>Empty Mile Debit</th>
                        <th>Extra Miles</th>
                        <th>Fuel Surcharge</th>
                        <th>Sub Total</th>
                        <th>Fuel</th>
                        <th>Driver Cash</th>
                        <th>Fuel Fee</th>
                        <th>Ref Fuel</th>
                        <th>Fuel Rebate</th>
                        <th>Sub Total</th>
                        <th>EFS Cash Advances</th>
                        <th>EFS Fee</th>
                        <th>Western Union</th>
                        <th>Own Checks</th>
                        <th>Transcheck</th>
                        <th>AdvanceFee</th>
                        <th>Loan</th>
                        <th>Loan Fee</th>
                        <th>Negative File</th>
                        <th>QuickPay Fee</th>
                        <th>QuickPay Percent</th>
                        <th>Sub Total</th>
                        <th>Truck Lease</th>
                        <th>License Plate</th>
                        <th>Road Tax</th>
                        <th>Trailer Lease</th>
                        <th>Trailer Rent</th>
                        <th>Sub Total</th>
                        <th>Lumper Fees</th>
                        <th>REDiesel</th>
                        <th>REWash</th>
                        <th>RETolls</th>
                        <th>RERepairs</th>
                        <th>REMaintenance</th>
                        <th>REHotel</th>
                        <th>REWTickets</th>
                        <th>REOil</th>
                        <th>RETires</th>
                        <th>REBonus</th>
                        <th>REOwnRepairs</th>
                        <th>REOwnMaintenance</th>
                        <th>REParking</th>
                        <th>REIdleAir</th>
                        <th>REFees</th>
                        <th>REOthers</th>
                        <th>Sub Total</th>
                        <th>Accidental Insurance</th>
                        <th>OO Package</th>
                        <th>Child Support</th>
                        <th>Insurance</th>
                        <th>Yard</th>
                        <th>DOTComplaince</th>
                        <th>Escrow</th>
                        <th>CoDriverPay</th>
                        <th>OOAdvance</th>
                        <th>OOAdvanceCoDriver</th>
                        <th>ODOthers</th>
                        <th>Sub Total</th>
                        <th>Signs</th>
                        <th>Simplex</th>
                        <th>Fine Penalty</th>
                        <th>Check Amount</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Zip</th>
                        <th>Country</th>
                        <th>Driver Type</th>
                    </tr>
                    <tr style="border: 1px solid lightgray" ng-repeat="driver in driverSettlement">
                        <td style="padding: 5px" ng-hide="driver.status"><button type="button" class="btn btn-success">Synced</button></td>
                        <td style="padding: 5px" ng-show="driver.status == 'Exist'"><button type="button" class="btn btn-warning">Sync Ommited</button></td>
                        <td style="padding: 5px" ng-show="driver.status == 'Error'"><button type="button" class="btn btn-danger">Sync Error</button></td>
                        <td>{{driver.qbId}}</td>
                        <td>{{driver.syncDate}}</td>
                        <td>{{driver.truckOwner}}</td>
                        <td>{{driver.driver}}</td>
                        <td>{{driver.truckNumber}}</td>
                        <td>{{driver.fileNumber}}</td>
                        <td class="centerValue">{{driver.ooPay}}</td>
                        <td class="centerValue">{{driver.basicDriverPay}}</td>
                        <td class="centerValue">{{driver.waitingTime}}</td>
                        <td class="centerValue">{{driver.extraPickUp}}</td>
                        <td class="centerValue">{{driver.extraDelivery}}</td>
                        <td class="centerValue">{{driver.emptyMileDebit}}</td>
                        <td class="centerValue">{{driver.extraMiles}}</td>
                        <td class="centerValue">{{driver.overnight}}</td>
                        <td class="centerValue">{{driver.others}}</td>
                        <td class="centerValue">{{driver.fuelSurcharge}}</td>
                        <td class="centerValue">{{driver.subTotal1}}</td>
                        <td class="centerValue">{{driver.fuel}}</td>
                        <td class="centerValue">{{driver.driverCash}}</td>
                        <td class="centerValue">{{driver.fuelFee}}</td>
                        <td class="centerValue">{{driver.refFuel}}</td>
                        <td class="centerValue">{{driver.fuelRebate}}</td>
                        <td class="centerValue">{{driver.subTotal2}}</td>
                        <td class="centerValue">{{driver.efsCashAdvances}}</td>
                        <td class="centerValue">{{driver.efsFee}}</td>
                        <td class="centerValue">{{driver.westernUnion}}</td>
                        <td class="centerValue">{{driver.ownChecks}}</td>
                        <td class="centerValue">{{driver.transcheck}}</td>
                        <td class="centerValue">{{driver.advanceFee}}</td>
                        <td class="centerValue">{{driver.loan}}</td>
                        <td class="centerValue">{{driver.loanFee}}</td>
                        <td class="centerValue">{{driver.negativeFile}}</td>
                        <td class="centerValue">{{driver.quickPayFee}}</td>
                        <td class="centerValue">{{driver.quickPayPercent}}</td>
                        <td class="centerValue">{{driver.subTotal3}}</td>
                        <td class="centerValue">{{driver.truckLease}}</td>
                        <td class="centerValue">{{driver.licensePlate}}</td>
                        <td class="centerValue">{{driver.roadTax}}</td>
                        <td class="centerValue">{{driver.trailerLease}}</td>
                        <td class="centerValue">{{driver.trailerRent}}</td>
                        <td class="centerValue">{{driver.subTotal4}}</td>
                        <td class="centerValue">{{driver.lumperFees}}</td>
                        <td class="centerValue">{{driver.reDiesel}}</td>
                        <td class="centerValue">{{driver.reWash}}</td>
                        <td class="centerValue">{{driver.reTolls}}</td>
                        <td class="centerValue">{{driver.reRepairs}}</td>
                        <td class="centerValue">{{driver.reMaintenance}}</td>
                        <td class="centerValue">{{driver.reHotel}}</td>
                        <td class="centerValue">{{driver.reWTickets}}</td>
                        <td class="centerValue">{{driver.reOil}}</td>
                        <td class="centerValue">{{driver.reTires}}</td>
                        <td class="centerValue">{{driver.reBonus}}</td>
                        <td class="centerValue">{{driver.reOwnRepairs}}</td>
                        <td class="centerValue">{{driver.reOwnMaintenance}}</td>
                        <td class="centerValue">{{driver.reParking}}</td>
                        <td class="centerValue">{{driver.reIdleAir}}</td>
                        <td class="centerValue">{{driver.reFees}}</td>
                        <td class="centerValue">{{driver.reOthers}}</td>
                        <td class="centerValue">{{driver.subTotal5}}</td>
                        <td class="centerValue">{{driver.accidentalInsurance}}</td>
                        <td class="centerValue">{{driver.ooPackage}}</td>
                        <td class="centerValue">{{driver.childSupport}}</td>
                        <td class="centerValue">{{driver.insurance}}</td>
                        <td class="centerValue">{{driver.yard}}</td>
                        <td class="centerValue">{{driver.dotComplaince}}</td>
                        <td class="centerValue">{{driver.escrow}}</td>
                        <td class="centerValue">{{driver.coDriverPay}}</td>
                        <td class="centerValue">{{driver.ooAdvance}}</td>
                        <td class="centerValue">{{driver.ooAdvanceCoDriver}}</td>
                        <td class="centerValue">{{driver.odOthers}}</td>
                        <td class="centerValue">{{driver.subTotal6}}</td>
                        <td class="centerValue">{{driver.signs}}</td>
                        <td class="centerValue">{{driver.simplex}}</td>
                        <td class="centerValue">{{driver.finePenalty}}</td>
                        <td class="centerValue">{{driver.checkAmount}}</td>
                        <td>{{driver.address}}</td>
                        <td>{{driver.city}}</td>
                        <td>{{driver.state}}</td>
                        <td>{{driver.zip}}</td>
                        <td>{{driver.country}}</td>
                        <td>{{driver.driverType}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>