﻿<section>

    <h3>Privacy Policy</h3>
    <p>
        What information do we collect?
        We collect information from you when you enter information on payments and invoices to your database in www.softwareonlinesolutions.com
        When registering on our site, as appropriate, you may be asked to enter your: username and password.
        What do we use your information for?
        Any of the information we collect from you may be used in one of the following ways:
        To personalize your experience
        (your information helps us to better respond to your individual needs)
        To improve our website
        (we continually strive to improve our website offerings based on the information and feedback we receive from you)
        To improve customer service
        (your information helps us to more effectively respond to your customer service requests and support needs) To process transactions
        Your information, whether public or private, will not be sold, exchanged, transferred, or given to any other company for any reason whatsoever, without your consent, other than for the express purpose of delivering the purchased product or service requested.
        How do we protect your information?
        We implement a variety of security measures to maintain the safety of your personal information.
        We offer the use of a secure server. All supplied sensitive/credit information is transmitted via Secure Socket Layer (SSL) technology and then encrypted into our payment gateway providers database only to be accessible by those authorized with special access rights to such systems, and are required to keep the information confidential.
        Do we use cookies?
        Yes. Cookies are small files that a site or its service provider transfers to your computers hard drive through your Web browser (if you allow) that enables the sites or service providers systems to recognize your browser and capture and remember certain information.
        Do we disclose any information to outside parties?
        We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others rights, property, or safety. However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.
        Third party links
        Occasionally, at our discretion, we may include or offer third party products or services on our website. These third party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.
        California Online Privacy Protection Act Compliance
        Because we value your privacy we have taken the necessary precautions to be in compliance with the Florida Online Privacy Protection Act. We therefore will not distribute your personal information to outside parties without your consent.
        As part of the Florida Online Privacy Protection Act, all users of our site may make any changes to their information at anytime by logging into their control panel and going to the 'Edit Profile' page.
        Online Privacy Policy Only
        This online privacy policy applies only to information collected through our website and not to information collected offline.
        Terms and Conditions
        Please also visit our Terms and Conditions section establishing the use, disclaimers, and limitations of liability governing the use of our website.
        Changes to our Privacy Policy
        If we decide to change our privacy policy, we will post those changes on this page, and/or update the Privacy Policy modification date below.
        This policy was last modified on December 7, 2016
    </p>
</section>