﻿<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="../" class="navbar-brand">Quickbooks Integration</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav navbar-right" ng-show="user">
                <li><a>Welcome, {{user.name}}</a></li>
                <li><a ng-click="logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</div>
<img style="margin-top:30px" src="../../assets/sos_logo.jpg" />
<div style="height: 30px;"></div>
<div style="margin-top: 30px">
    <input myupload id="excelFile" type="file" ngf-select="" ng-model="excelFileData"
           style="visibility: hidden; position: absolute; top: 0; left: 0"
           accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
    <button class="btn btn-primary" tabindex="7" ng-click="checkFtpAndSync()">Check Ftp for Invoices</button>
    <!--<button ng-show="ableToSearch" class="btn btn-primary" tabindex="8" ng-click="importInvoices()">Import and Sync Invoices</button>-->
</div>
<!--<h1 ng-hide="ableToSearch">You need to specify your current ftp directory</h1>-->
<!--<button ng-hide="ableToSearch" class="btn btn-primary" tabindex="7" data-toggle="modal" data-target="#myModal">Set Directory</button>-->
<h1 ng-show="invoices.length < 1" id="pageTitle">There is no synced invoices</h1>
<h4 ng-show="i !== 0">Total invoices in the last check: {{ii}}</h4>
<h4>Next check in <timer autostart="false" countdown="countdownvalue" interval="1000" finish-callback="finished()">{{minutes}} minute{{minutesS}}, {{seconds}} second{{secondsS}}.</timer></h4>
