﻿<section>

    <h3>SOS SOFTWARE INTEGRATION</h3>
    <h4>End User License Agreement</h4>
    <p>
        This is a legal agreement (“Agreement”) between you, the end user (“you” or “Licensee”) and SOS SOFTWARE INTEGRATION (“SOS Integration”). This Agreement governs your acquisition and use of SOS Integration’s Service (defined below).
        YOU MUST CAREFULLY READ THE FOLLOWING TERMS AND CONDITIONS BEFORE USING THE SERVICE (AS DEFINED BELOW). BY CREATING AN ACCOUNT AND USING THE SERVICE, YOU ARE:
    </p>
    <p> 1.	REPRESENTING THAT YOU ARE OVER THE AGE OF 18 </p>
    <p> 2.	REPRESENTING THAT YOU HAVE THE RIGHT AND AUTHORITY TO LEGALLY BIND YOU AND/OR YOUR COMPANY AND/OR EMPLOYER, AND </p>
    <p> 3.	CONSENTING TO BE LEGALLY BOUND BY ALL OF THE TERMS OF THIS AGREEMENT. </p>
    
    <p>
        IF YOU DO NOT AGREE TO ALL THESE TERMS OR CANNOT MAKE SUCH REPRESENTATIONS DO NOT USE THE SOFTWARE.
    </p>
    <p> 1.	PROPRIETARY RIGHTS</p>
    <ul>
        <li>License to Service. Subject to the terms and conditions of this Agreement, SOS Integration grants to Licensee during the term set forth on the applicable order form (the “Term”) a non-exclusive, nontransferable, non-sub licensable, limited license: (I) to use the Software as a Service “(“SaaS”) solution called SOS Integration and located at Sosintegration.com for the sole purpose creating Invoices and Driver payments; and (II) to access the documentation provided by SOS Integration (the “Documentation”). Collectively, the SaaS and Documentation are the “Service.”</li>
        <li>Restrictions on Use of Service. The Service is licensed to Licensee for internal use only. In connection with Licensee’s use of the Service, Licensee shall comply with all applicable laws, rules and regulations. Licensee shall not, and shall not permit any third party to: (I) copy, modify, translate, or create derivative works of the Service; (II) reverse engineer, decompile, disassemble or otherwise attempt reconstruct, identify or discover any source code, underlying ideas, underlying user interface techniques, or algorithms of the Service, (III) lend, lease, offer for sale, sell or otherwise use the Service for the benefit of third parties; or (IV) attempt to circumvent any license, timing or use restrictions that are built into the Service.</li>
        <li>SOS Integration Ownership of Service. Except for the limited rights granted in Section 1(a) above, SOS Integration retains all right, title and interest, including all intellectual property rights, in and to the Service. Licensee acknowledges that the Service constitutes SOS Integration’s valuable trade secrets and improper use or disclosure would cause SOS Integration irreparable harm. Accordingly, Licensee agrees to use the Service solely as authorized in this Agreement. Licensee further acknowledges that the license granted pursuant to this Agreement is not a sale and does not transfer to Licensee title or ownership of the Service or a copy of the Service, but only a right of limited use for evaluation purposes. ALL RIGHTS NOT EXPRESSLY GRANTED HEREUNDER ARE RESERVED TO SOS INTEGRATION.</li>
        <li>Licensee Data. Subject to the terms and conditions of this Agreement, Licensee grants to SOS Integration a limited, non-transferable (except pursuant to Section 9(a) below) license to use the data entered into the Service by Licensee and/or Licensee personnel (such data collectively, “Data”) for the purpose of providing the Service. Licensee represents and warrants that: (I) it owns the Data posted by it on or through the Service or otherwise has the right to grant the license set forth in this Agreement; (II) the posting and use of Data on or through the Service does not violate the privacy rights, publicity rights, copyrights, contract rights, intellectual property rights, or any other rights of any person; and (III) the posting of Data on the Service does not result in a breach of contract between you and a third party. In addition, SOS Integration may use anonymized and aggregated Data collected through the Service for any purpose, including, without limitation, to enhance and improve the Service.</li>
    </ul>
    <p> 2.	USE OF THE SERVICE</p>
    <ul>
        <li>SOS Integration’s Responsibilities. SOS Integration shall use commercially reasonable efforts to make the Service available at all times, except for planned downtime and any unavailability caused by force majeure circumstances (e.g., fires, floods, acts of God, acts of government, civil unrest, Internet service provider failures or delays, denial of service attacks, etc.), and to provide the Service only in accordance with applicable laws and government regulations. SOS Integration will maintain appropriate administrative, technical and physical safeguards to protect the security, confidentiality and integrity of Data. SOS Integration will comply with its Privacy Policy, which is incorporated by reference into this Agreement.</li>
        <li>Licensee Responsibilities. Licensee shall (I) be responsible for its (and as applicable, its personnel’s) compliance with this Agreement, (II) use commercially reasonable efforts to prevent unauthorized access to or use of the Service, and notify SOS Integration immediately of any such unauthorized access and/or use of which Licensee becomes aware, and (III) use the Service only in accordance with this Agreement, the Documentation, and all applicable laws and government regulations. Licensee shall not (w) make the Service available to any third party, (x) sell, resell, rent or lease the Service, (y) interfere with or disrupt the integrity or performance of the Service or any third-party data contained on the Service, including, as applicable, the third-party data of Licensee’s employees, or (z) attempt to gain unauthorized access to the Service or its related systems or networks.</li>
    </ul>
    <p>3. CONFIDENTIAL INFORMATION</p>
    <ul>
        <li>Definition of Confidential Information. As used herein, "Confidential Information" means all confidential information disclosed by a party ("Disclosing Party") to the other party ("Receiving Party"), whether orally or in writing, that is designated as confidential or that reasonably should be understood to be confidential given the nature of the information and the circumstances of disclosure. Licensee’s Confidential Information shall include Data; SOS Integration Confidential Information shall include the Service; any information reasonably requested by SOS Integration with respect to Licensee’s use and experience with the Service, including any issues or suggestions related to such use and experience; and information relating to the performance, reliability or stability of the Service, operation of the Service, or know-how, techniques, processes, ideas, algorithms, and software design and architecture of the Service; and Confidential Information of each party shall include business and marketing plans, technology and technical information, product plans and designs, and business processes disclosed by such party. However, Confidential Information (other than Data) shall not include any information that (I) is or becomes generally known to the public without breach of any obligation owed to the Disclosing Party, (II) was known to the Receiving Party prior to its disclosure by the Disclosing Party without breach of any obligation owed to the Disclosing Party, (III) is received from a third party without breach of any obligation owed to the Disclosing Party, or (IV) was independently developed by the Receiving Party.</li>
        <li>Protection of Confidential Information. The Receiving Party shall use the same degree of care that it uses to protect the confidentiality of its own confidential information of like kind (but in no event less than reasonable care) (I) not to use any Confidential Information of the Disclosing Party for any purpose outside the scope of this Agreement, and (II) except as otherwise authorized by the Disclosing Party in writing, to limit access to Confidential Information of the Disclosing Party to those of its and its affiliates’ employees, contractors and agents who need such access for purposes consistent with this Agreement and who have signed confidentiality agreements with the Receiving Party containing protections no less stringent than those herein. Neither party shall disclose the terms of this Agreement or any order form to any third party other than its affiliates and their legal counsel and accountants without the other party’s prior written consent.</li>
        <li>Compelled Disclosure. The Receiving Party may disclose Confidential Information of the Disclosing Party if it is compelled by law to do so, provided the Receiving Party gives the Disclosing Party prior notice of such compelled disclosure (to the extent legally permitted) and reasonable assistance, at the Disclosing Party's cost, if the Disclosing Party wishes to contest the disclosure. If the Receiving Party is compelled by law to disclose the Disclosing Party’s Confidential Information as part of a civil proceeding to which the Disclosing Party is a party, and the Disclosing Party is not contesting the disclosure, the Disclosing Party will reimburse the Receiving Party for its reasonable cost of compiling and providing secure access to such Confidential Information.</li>
    </ul>
    <p>4. TERM AND TERMINATION</p>
    <ul>
        <li>Term. This Agreement will remain in effect until the expiration of the Term. SOS Integration reserves the right to terminate this Agreement at its discretion for any reason or no reason at any time upon notice to Licensee, in which case Licensee shall pay Licensee all amounts owed to SOS Integration pursuant to the applicable order form and cease all access to and use of the Service. SOS Integration may refund any prepaid amounts, at its discretion.</li>
        <li>Effect of Termination. Upon expiration or termination of this Agreement for any reason, the rights and licenses granted to Licensee under this Agreement will immediately terminate.</li>
        <li>Survival. The provisions of Sections 1(c) and 3 through 9 shall survive the termination or expiration of this Agreement for any reason.</li>
    </ul>
    <p>5. WARRANTY DISCLAIMER. THE SERVICE IS PROVIDED “AS IS” WITHOUT WARRANTY OF ANY KIND. SOS INTEGRATION MAKES NO PROMISES, REPRESENTATIONS OR WARRANTIES, WHETHER EXPRESS, IMPLIED, STATUTORY, OR OTHERWISE, WITH RESPECT TO THE SERVICE, INCLUDING ITS CONDITION, ITS CONFORMITY TO ANY REPRESENTATION OR DESCRIPTION, OR THE EXISTENCE OF ANY LATENT OR PATENT DEFECTS, AND SOS INTEGRATION SPECIFICALLY DISCLAIMS ALL IMPLIED WARRANTIES OF MERCHANTABILITY, NONINFRINGEMENT AND FITNESS FOR A PARTICULAR PURPOSE AND ALL OTHER IMPLIED OR STATUTORY WARRANTIES, AS WELL AS ANY LOCAL JURISDICTIONAL ANALOGUES TO THE ABOVE. SOS INTEGRATIONDOES NOT WARRANT THAT THE SERVICE WILL BE ERROR-FREE OR THAT THE SERVICE WILL WORK WITHOUT INTERRUPTIONS.</p>
    <p>6. LIMITATION OF LIABILITY. IN NO EVENT SHALL SOS INTEGRATION’S LIABILITY ARISING OUT OF OR RELATED TO THIS AGREEMENT EXCEED ONE HUNDRED DOLLARS. EXCEPT FOR A BREACH OF THE LICENSE RESTRICTIONS, IN NO EVENT SHALL EITHER PARTY HAVE ANY LIABILITY FOR ANY INDIRECT, INCIDENTAL, SPECIAL, OR CONSEQUENTIAL DAMAGES, HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER FOR BREACH OF CONTRACT, TORT (INCLUDING NEGLIGENCE) OR OTHERWISE, ARISING OUT OF OR RELATED TO THIS AGREEMENT, INCLUDING BUT NOT LIMITED TO LOSS OF ANTICIPATED PROFITS OR LOSS OR INTERRUPTION OF USE OF ANY FILES, DATA OR EQUIPMENT, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THESE LIMITATIONS SHALL APPLY NOTWITHSTANDING ANY FAILURE OF ESSENTIAL PURPOSE OF ANY LIMITED REMEDY. THE PARTIES AGREE THAT THE FOREGOING LIMITATIONS REPRESENT A REASONABLE ALLOCATION OF RISK UNDER THIS AGREEMENT.</p>
    <p>7. INDEMNIFICATION. Licensee shall indemnify, defend and hold SOS Integration harmless from any claim, action, suit or proceeding made or brought against SOS Integration arising out of or related to (I) Licensee’s breach of any term of this Agreement, or (II) SOS Integration’s use of any Licensee Data.</p>
    <p>8. U.S. GOVERNMENT RESTRICTED RIGHTS. SOS Integration provides the Service, including related software and technology, for ultimate federal government end use solely in accordance with the following: Government technical data and software rights related to the Service include only those rights customarily provided to the public as defined in this Agreement. This customary commercial license is provided in accordance with FAR 12.211 (Technical Data) and FAR 12.212 (Software) and, for Department of Defense transactions, DFAR 252.227-7015 (Technical Data – Commercial Items) and DFAR 227.7202-3 (Rights in Commercial Computer Software or Computer Software Documentation). If a government agency has a need for rights not conveyed under these terms, it must negotiate with SOS Integration to determine if there are acceptable terms for transferring such rights, and a mutually acceptable written addendum specifically conveying such rights must be included in any applicable contract or agreement.</p>
    <p>9. MISCELLANEOUS</p>
    <ul>
        <li>Assignment. Licensee may not assign this Agreement or any rights or obligations hereunder, directly or indirectly, by operation of law or otherwise, without the prior written consent of SOS Integration Subject to the foregoing, this Agreement will inure to the benefit of and be binding upon the parties and their respective successors and permitted assigns. SOS Integration may freely assign this agreement. Any attempted assignment in violation of this Section 9(a) will be null and void.</li>
        <li>Export Regulations. Licensee understands that SOS Integration is subject to regulation by agencies of the U.S. government, including, but not limited to, the U.S. Department of Commerce, which prohibit export or diversion of certain technical products to certain countries. Licensee warrants that it will comply in all respects with the Export Administration Regulations and all other export and re-export restrictions applicable to the technology and documentation licensed hereunder.</li>
        <li>Severability. If any provision of this Agreement is held by a court of competent jurisdiction to be contrary to law the remaining provisions of this Agreement will remain in full force and effect.</li>
        <li>Governing Law and Jurisdiction. This Agreement is governed by and construed under the laws of the State of Florida without reference to conflict of laws principles. All disputes arising out of or related to this Agreement will be subject to the exclusive jurisdiction of the state and federal courts located in Miami, Florida and the parties agree and submit to the exclusive jurisdiction and venue of these courts.</li>
        <li>Modification and Waiver. No waiver or modification of this Agreement will be valid unless made in writing and signed by both parties. The waiver of a breach of any term hereof will in no way be construed as a waiver of any other term or breach hereof.</li>
        <li>Entire Agreement. This Agreement embodies the entire understanding of the parties and supersedes any previous or contemporaneous communications, whether oral or written; and may be amended only by a writing signed by both parties.</li>
    </ul>
</section>